.App {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 2fr;
  padding: 30px;
  column-gap: 20px;
}

.App .Header {
  grid-row: 1;
  grid-column: 1 / 3;
}

/* .App .QueueSignupForm {
  grid-
} */
